# Data wrangling on [people_data.csv](https://piazza.com/redirect/s3?bucket=uploads&prefix=attach%2Fjsagy1god6f2bq%2Fjdl2dukjx9e4n9%2Fjswf28nz9jht%2Fpeople_data.csv) by `Mostafa Tarek` using `MongoDB`, `Pymongo`

__vis the data and assessing it__

In [2]:
import pandas as pd 
df = pd.read_csv('./people_data.csv')
df

,ID,firstname,lastname,age,currentJob,prevJobs,friendsID,hobbies,email,nationality
0,0,magdi,abd elrahman,35.0,Surveying and Mapping Technicians,"Agricultural Engineers,Wind Energy Engineers","712,6592,7375","competitive programming,competitive programming",NaN,egyptian
1,1,samir,tamer,84.0,NaN,"Fuel Cell Engineers,Materials Engineers","1139,2309,2767,3343,9150,9533,9845",NaN,samirtamer1626@gmail.com,syrian
2,2,eslam,rashad,74.0,Mapping Technicians,NaN,"462,720,3195,3836,4704",football,rashadeslam6970@yahoo.com,iraqi
3,3,ali,eslam,NaN,"Health and Safety Engineers, Except Mining Saf...",Electro-Mechanical Technicians,"1659,3995,6073","football,camping",eslamali1859@gmail.com,iraqi
4,4,ehab,maher,NaN,Photonics Engineers,"Agricultural Engineers,Marine Engineers","2090,7126","cooking,swimming",NaN,syrian
5,5,yosra,ibrahim,NaN,Validation Engineers,NaN,4220,"swimming,football",NaN,lebanese
6,6,mona,Arshd,NaN,Mechatronics Engineers,"Chemical Engineers,Petroleum Engineers","498,1245,2567,6508,9255",NaN,NaN,moroccan
7,7,yosra,ibrahim,38.0,Energy Engineers,NaN,"2567,3746,4563,5207,9662,9695",NaN,yosraibrahim4119@hotmail.com,lebanese
8,8,mai,mazen,NaN,NaN,"Civil Engineers,Nanotechnology Engineering Tec...","992,4719,6870",cooking,mazenmai7201@yahoo.com,iraqi
9,9,sanaa,samy,NaN,Environmental Engineers,NaN,"5150,5842,8582,9426",football,NaN,syrian
10,10,rashad,amer,33.0,Marine Engineers and Naval Architects,Electrical Engineers,"499,2455,3709,8276",competitive programming,amerrashad2991@gmail.com,moroccan
11,11,shady,Arshd,69.0,Biochemical Engineers,NaN,"378,2587,3169,4845","swimming,swimming",shadyArshd6821@yahoo.com,lebanese
12,12,ibrahim,tamer,21.0,Chemical Engineers,NaN,"689,4954,7664,8520",NaN,ibrahimtamer1165@gmail.com,iraqi
13,13,abd elrahman,Arshd,31.0,Wind Energy Engineers,NaN,"1356,3870","reading,drawing",NaN,lebanese
14,14,tamer,ehab,59.0,Industrial Engineering Technicians,"Water/Wastewater Engineers,Manufacturing Engin...","1969,2907,6168,9808",NaN,NaN,iraqi
15,15,yosra,hosny,NaN,Electro-Mechanical Technicians,NaN,"7339,7687,8055,8987,9648,9995","tennis,tennis",yosrahosny2683@yahoo.com,lebanese
16,16,ibrahim,hatem,58.0,NaN,Manufacturing Engineers,NaN,"reading,watching movies",NaN,jordanian
17,17,ibrahim,abd allah,50.0,Surveying Technicians,"Civil Engineers,Manufacturing Engineering Tech...","4155,7422,8466,9813","tennis,football",abd allahibrahim1889@yahoo.com,egyptian
18,18,tamer,hatem,22.0,Industrial Engineering Technicians,Manufacturing Engineering Technologists,6726,NaN,tamerhatem2412@yahoo.com,egyptian
19,19,eyad,rami,NaN,Mapping Technicians,Aerospace Engineering and Operations Technicians,3905,tennis,ramieyad4618@gmail.com,lebanese
20,20,mohamed,samy,36.0,Petroleum Engineers,"Photonics Engineers,Robotics Technicians","958,2274,7060","tennis,drawing",mohamedsamy1768@gmail.com,egyptian
21,21,amera,tarek,30.0,Electrical Engineering Technicians,Aerospace Engineers,"4549,5678,7522,8137,9237","cooking,swimming",tarekamera6693@gmail.com,iraqi
22,22,rana,omar,NaN,Nanotechnology Engineering Technicians,"Electrical Drafters,Drafters, All Other","2374,4290,4332,5816,7332",swimming,ranaomar3156@hotmail.com,iraqi
23,23,amr,abd allah,73.0,Mapping Technicians,Electronics Engineering Technicians,"109,169,2717,2783",NaN,NaN,iraqi
24,24,rana,abd allah,76.0,Radio Frequency Identification Device Specialists,"Electrical Drafters,Electromechanical Engineer...","1997,6128,7591,8727,9108,9668","gaming,swimming",ranaabd allah4889@yahoo.com,jordanian
25,25,sameh,mohamed,NaN,Materials Engineers,Industrial Engineering Technologists,"3458,5246,7780",gaming,samehmohamed5011@yahoo.com,jordanian
26,26,amar,abd allah,38.0,Surveying and Mapping Technicians,"Electronics Engineers, Except Computer,Aerospa...","919,1981,2023,2365,7157,7432,8628,9465","gaming,watching movies",NaN,lebanese
27,27,omar,hatem,42.0,Environmental Engineers,NaN,"576,2477,3334,3881,6083,8340,9735","tennis,reading",NaN,lebanese
28,28,hatem,ibrahim,59.0,Surveying Technicians,NaN,"755,2453,5094,7384","gaming,competitive programming",hatemibrahim550@gmail.com,egyptian
29,29,Arshd,omar,88.0,Fuel Cell Engineers,"Cartographers and Photogrammetrists,Surveying ...",4735,NaN,Arshdomar3537@yahoo.com,syrian
...,...,...,...,...,...,...,...,...,...,...
9970,9970,sameh,amr,57.0,Energy Engineers,Surveying and Mapping Technicians,"311,2063,2569,3813,9682",competitive programming,samehamr4420@hotmail.com,lebanese
9971,9971,ali,amar,NaN,Surveyors,NaN,"1314,1709,5290,7315,7956,9786",NaN,NaN,jordanian
9972,9972,mona,mahmoud,61.0,Biochemical Engineers,"Electronics Engineering Technicians,Agricultur...","1411,3971,4176","cooking,gaming",monamahmoud5737@gmail.com,iraqi
9973,9973,Arshd,rami,75.0,Photonics Engineers,"Health and Safety Engineers, Except Mining Saf...","2561,3285,4182,4695,5152,5427,7691,9176",gaming,ramiArshd4913@yahoo.com,syrian
9974,9974,mai,ali,31.0,Computer Hardware Engineers,NaN,"1971,6398",NaN,alimai6589@gmail.com,lebanese
9975,9975,ahmed,eslam,NaN,NaN,Surveyors,"101,3074,8197,9533,9582",NaN,eslamahmed3922@hotmail.com,iraqi
9976,9976,tamer,mazen,53.0,Robotics Engineers,NaN,7929,NaN,NaN,syrian
9977,9977,rana,hosny,35.0,Fuel Cell Engineers,"Marine Architects,Materials Engineers","6079,6709,7269,8419","cooking,tennis",ranahosny1601@hotmail.com,moroccan
9978,9978,samera,amr,NaN,Mechanical Engineering Technologists,NaN,5939,NaN,NaN,iraqi
9979,9979,amera,mahmoud,31.0,"Mining and Geological Engineers, Including Min...",Electrical and Electronic Engineering Technicians,"6667,7008,7196,8640","football,camping",ameramahmoud7851@hotmail.com,syrian
9980,9980,nourhan,mahmoud,35.0,"Health and Safety Engineers, Except Mining Saf...","Cartographers and Photogrammetrists,Electronic...","2377,3348",NaN,NaN,lebanese
9981,9981,nourhan,ehab,88.0,NaN,Electrical Engineering Technologists,"638,4104,4533,5928,7109,9260,9581",watching movies,nourhanehab2071@gmail.com,jordanian
9982,9982,mai,mahmoud,80.0,Electronics Engineering Technicians,NaN,"745,2193,6132,6452,7772",cooking,NaN,lebanese
9983,9983,mazen,eyad,18.0,Non-Destructive Testing Specialists,NaN,"550,8477,9364","competitive programming,cooking",NaN,egyptian
9984,9984,salma,omar,21.0,Mapping Technicians,Electrical and Electronic Engineering Technici...,"3178,9201",tennis,salmaomar1700@gmail.com,egyptian
9985,9985,yosra,amr,23.0,Mechanical Drafters,"Fuel Cell Technicians,Mechanical Engineers","555,2351,2854,4231,5815,8330",NaN,amryosra5537@gmail.com,jordanian
9986,9986,Arshd,amr,80.0,NaN,"Transportation Engineers,Photonics Technicians","1098,5025,6403,7203,7774",NaN,amrArshd1284@yahoo.com,moroccan
9987,9987,mohamed,omar,NaN,Nuclear Engineers,"Electronic Drafters,Mechanical Engineers","973,1228,1499,1775,3230,3711,5511",competitive programming,omarmohamed7773@gmail.com,jordanian
9988,9988,samera,amar,88.0,NaN,NaN,"301,3658,4218,4256,6564,7401",NaN,amarsamera9715@yahoo.com,egyptian
9989,9989,tamer,sameh,41.0,Electronics Engineering Technicians,"Health and Safety Engineers, Except Mining Saf...","2056,3582,4720,5181",NaN,NaN,jordanian
9990,9990,maher,rashad,76.0,Aerospace Engineers,NaN,9563,"competitive programming,football",NaN,lebanese
9991,9991,rana,rashad,NaN,Nuclear Engineers,"Industrial Safety and Health Engineers,Electri...","2649,3187,4159,4996,5919,7406,7771",swimming,ranarashad8603@yahoo.com,lebanese
9992,9992,amar,ibrahim,33.0,Radio Frequency Identification Device Specialists,"Engineering Technicians, Except Drafters, All ...","176,1765,2220,4272,4397,5641,7330,8525",competitive programming,amaribrahim6308@hotmail.com,jordanian
9993,9993,aya,samir,81.0,Marine Engineers,NaN,"161,2237,3571,3825,4006,5607,6265",NaN,NaN,jordanian
9994,9994,salma,amer,NaN,Electrical and Electronic Engineering Technicians,Marine Engineers,"2301,3308,4669,6398",NaN,NaN,egyptian
9995,9995,amera,hatem,58.0,Marine Architects,"Electrical Drafters,Surveying and Mapping Tech...","15,3753,3994,4890,5043,8141",swimming,amerahatem7217@yahoo.com,lebanese
9996,9996,rana,alaa,89.0,Mechanical Drafters,Aerospace Engineering and Operations Technicians,NaN,NaN,ranaalaa676@yahoo.com,lebanese
9997,9997,mai,mazen,63.0,Marine Engineers,"Surveying and Mapping Technicians,Electrical a...","336,1704,4396,4452,7784,8237",NaN,mazenmai2695@yahoo.com,egyptian
9998,9998,shady,ali,NaN,NaN,NaN,"430,2070,3326,4764,5274",gaming,shadyali6878@yahoo.com,syrian
9999,9999,aya,magdi,35.0,"Electronics Engineers, Except Computer",NaN,"6224,6646,7366,8197,8632","drawing,tennis",magdiaya7307@gmail.com,egyptian

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
ID             10000 non-null int64
firstname      10000 non-null object
lastname       10000 non-null object
age            7181 non-null float64
currentJob     8732 non-null object
prevJobs       6039 non-null object
friendsID      9734 non-null object
hobbies        6045 non-null object
email          5876 non-null object
nationality    10000 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 781.3+ KB

In [4]:
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017')

__create a `people` database and assign it to `peopleDb` var

In [5]:
peopleDb = client["people"]

In [6]:
client.list_database_names()

['admin', 'config', 'local', 'people']

__add `people_info` collection to `people` database__ and assign it to `peopleInfo`

In [7]:
peopleInfo = peopleDb["people_info"]

In [8]:
peopleDb.list_collection_names()

['people_info']

__assign the columns names to `columns` and remove the df after assessing and vis it to save memory__

In [9]:
columns = df.columns
del df

In [10]:
import csv  
from pprint import pprint

In [11]:
peopleInfo.delete_many({})
print("count before inserting {} \n inserting... ".format(peopleInfo.count_documents({})))
with open('./people_data.csv','r') as file :
    reader = csv.DictReader(file, fieldnames=columns)
    next(reader) # skipt the header 
    data = [] 
    for row in reader:
        data.append(dict(row)) 
peopleInfo.insert_many(data)
print("count after inserting {} ".format(peopleInfo.count_documents({})))

count before inserting 0
 inserting...
count after inserting 10000

### 1- remove all fields with empty values

In [12]:
c = 0 
for i in columns:
    c += peopleInfo.count_documents({i:{"$in":["NaN","nan"," ","",None,"Null","null"]}})
    peopleInfo.delete_many({i:{"$in":["NaN","nan"," ","",None,"Null","null"]}})
print("deleted {} documents".format(c))

deleted 8703 documents

In [13]:
#uncomment to vis the docs 
# for doc in peopleInfo.find({}):
#     pprint(doc)
#     pprint('\n')

### 2- change `prevjops` ,` hobbies` and `friendsID`  to array data type

In [14]:
for field in ["prevJobs" , "hobbies" , "friendsID"]:
    for doc in peopleInfo.find({field: {"$exists":1}}):
        newvalues = { "$set": {field: doc[field].split(',')}}
        peopleInfo.update_one({"_id":doc["_id"]}, newvalues)

In [15]:
#uncomment to vis 
# for doc in peopleInfo.find({}):
#     print(doc["prevJobs"])
#     print('\n')

### 3- Find all personsâ€™ document that his `current job` is `his first job` and also his `age` between `20` and` 30 year`

__convet `age` to `float` so we can manipulate  with it__

In [16]:
type(next(peopleInfo.find( { "age": { "$exists": 1 } } ))["age"])

str

In [17]:
for doc in peopleInfo.find( { "age": { "$exists": 1 } } ):
    peopleInfo.update_one({"_id":doc["_id"]},{"$set":{"age":float(doc["age"])}})

In [18]:
type(next(peopleInfo.find( { "age": { "$exists": 1 } } ))["age"])

float

In [19]:
for doc in peopleInfo.find({ "$and":[{"currentJob":{"$exists":1}},{"prevJobs":{"$exists":1}},  { "age": { "$lte": 30 } }, { "age": {"$gte":20} }  ] }):
        if doc["currentJob"] in doc["prevJobs"]:
            #uncomment to vis 
            #print(doc)
            pass

## 4- for each email domain find how many persons using it?
__Email domains : yahoo , gmail , hotmail â€¦.etc__

In [20]:
for i in peopleInfo.aggregate([
  { "$project" : { "emailDomains" : { "$split": ["$email","@"] }} },
    {"$project": { "emailDomains": {"$slice":["$emailDomains",-1]}}},
    {"$unwind": "$emailDomains"}, #so we can split it by . at the next pipline as the [] type will raise an error, in other words this step get the string from an array 
   { "$project" : { "emailDomains" : { "$split": ["$emailDomains","."] }} },
    {"$project": { "emailDomains": {"$slice":["$emailDomains",1]}, "qt":1}},
    {"$unwind": "$emailDomains"},
  { "$group" : { "_id": "$emailDomains" , "count" : { "$sum" : 1 } } },
  { "$sort" : { "total_qty" : -1 } }
]):
    print(i)

{'_id': 'hotmail', 'count': 446}
{'_id': 'yahoo', 'count': 413}
{'_id': 'gmail', 'count': 438}

## 5- for all persons with fullname : `mohamed samir` find all documents of their friends .

In [21]:
friendsDocs = [] 
for doc in peopleInfo.aggregate([
    {"$project": {"full_name": {"$concat": ["$firstname"," ","$lastname"]}, "friendsID":"$friendsID"}},
    {"$unwind":"$friendsID"},
    {"$match": {"full_name": "mohamed samir"}}
]):
    friendsDocs.append(peopleInfo.find({"ID":doc["friendsID"]}))
"number of docs is  {} docs ".format(len(friendsDocs))

'number of docs is  22 docs '

In [22]:
#uncomment to vis 
# for i in friendsDocs:
#     for j in i:
#         print(j)

- note that the above output has just `two` docs out of `22` docs as we preveously removed the docs that contain empty fields at procedure number `one` `1- remove all fields with empty values `

### 6.1- for all Egyptian persons , how many persons with first name `ahmed`  ?

In [24]:
for i in peopleInfo.aggregate([
    { "$match": {"firstname":"ahmed", "nationality":"egyptian"}},
    { "$group": {"_id": "$firstname" , "count" : { "$sum" : 1 } } }
]):
    print(i["count"])

23

###  6.2- how many persons `have more than one hobby` ?

In [29]:
a =  peopleInfo.aggregate([
    {"$match": { "nationality":"egyptian"}},
    {"$project":{"hobbiesCount":{"$size":"$hobbies"}}},
    {"$match": {"hobbiesCount": {"$gt":1}} }
])
len(list(a))

116

__but there is a problem that there maybe are some redundant persons so we should group by name at the end__
### so:

In [30]:
a =  peopleInfo.aggregate([
    {"$match": { "nationality":"egyptian"}},
    {"$project":{"hobbiesCount":{"$size":"$hobbies"},  "name":{"$concat":["$firstname"," ","$lastname"]}  }},
    {"$match": {"hobbiesCount": {"$gt":1}} },
    {"$group": {"_id":"$name"}},
])
len(list(a))

109

__note there were 116 - 109 == `7` redundant persons name__

###  6.3- and  find the `top 5 jobs with respect to number of people working it`

In [33]:
list(peopleInfo.aggregate([
    {"$match": { "nationality":"egyptian"}},
    {"$group": {"_id":"$currentJob", "count":{"$sum":1}}},
    {"$sort": {"count":-1}},
    {"$limit":5}
]))

[{'_id': 'Architects, Except Landscape and Naval', 'count': 8},
 {'_id': 'Engineers, All Other', 'count': 7},
 {'_id': 'Architectural Drafters', 'count': 7},
 {'_id': 'Human Factors Engineers and Ergonomists', 'count': 7},
 {'_id': 'Non-Destructive Testing Specialists', 'count': 7}]

# conclusion 

### Personally, I do not see any advantage for MongoDB to make it overcome SQL "in this particular task"